<table class="table table-borderless table-dark table-striped table-lg table-hover">
    <thead class="bg-success">
        <tr>
            <th scope="col">Visualizar</th>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let professor of professores" style="cursor: pointer;">
            <td>
                <button (click)="professorSelect(professor)" class="text-white btn btn btn-outline-warning">Detalhes</button>
            </td>
            <td scope="row">{{professor.id}}</td>
            <td>{{professor.nome}}</td>
            <td>{{professor.disciplina}}</td>
        </tr>
    </tbody>
</table>